<ion-header>

  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-icon name="chevron-back-outline" routerLink="/setting"></ion-icon>
    </ion-buttons>

    <ion-title class="ion-text-center">Cadastrar</ion-title>

    <ion-buttons slot="end" (click)="create()">
      <ion-icon name="save-outline"></ion-icon>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content>

  <form [formGroup]="formBuilderGroup">

    <div class="container">

      <div class="item-profile" disabled="tipoPessoaList.length == 0">
        <ion-text>Tipo de Pessoa</ion-text>
        <ion-select id="tipoPessoa" name="tipoPessoa" formControlName="tipoPessoa">
          <ion-select-option *ngFor="let item of tipoPessoaList" [value]="item.codigo">{{ item.descricao }}</ion-select-option>
        </ion-select>
      </div>

      <div class="item-profile">
        <ion-text>Nome</ion-text>
        <ion-input id="nome" name="nome" formControlName="nome" maxlength="20"></ion-input>
      </div>

    </div>

  </form>

</ion-content>
