<ion-content class="ion-padding">

  <ion-title>Profile Photo</ion-title>

  <ion-grid>

    <ion-row class="ion-text-center">

      <ion-col (click)="recuperarFoto(1)">
        <ion-icon name="trash" class="icone-trash"></ion-icon>
        <p>Remove Photo</p>
      </ion-col>

      <ion-col (click)="recuperarFoto(2)">
        <ion-icon name="images" class="icone-images"></ion-icon>
        <p>Gallery</p>
      </ion-col>

      <ion-col (click)="recuperarFoto(3)">
        <ion-icon name="camera" class="icone-camera"></ion-icon>
        <p>Camera</p>
      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>
