<ion-header>

  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-icon name="chevron-back-outline" routerLink="/setting"></ion-icon>
      <ion-button routerLink="/home">Home</ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center titulo">Setting</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">

  <div class="titulo-setting">
    <b>Account Settings</b>
  </div>

  <div class="item-setting" routerLink="/profile">
    <ion-icon name="person-outline"></ion-icon>
    <b>Profile</b>
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </div>

  <div class="item-setting">
    <ion-icon name="people-circle-outline"></ion-icon>
    <b>Account Information</b>
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </div>

  <div class="titulo-setting">
    <b>Contact Details</b>
  </div>

  <div class="item-setting">
    <ion-icon name="mail-outline"></ion-icon>
    <b>E-mail Address</b>
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </div>

  <div class="item-setting">
    <ion-icon name="call-outline"></ion-icon>
    <b>Phone Number</b>
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </div>

  <div class="item-setting">
    <ion-icon name="location-outline"></ion-icon>
    <b>Residencial Address</b>
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </div>

</ion-content>
