@font-face {
    font-family: Raleway-Regular;
    src: url(../assets/font/Raleway/Raleway-Regular.ttf);
}

@font-face {
    font-family: Raleway-Medium;
    src: url(../assets/font/Raleway/Raleway-Medium.ttf);
}
