<ion-header>

  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-icon name="chevron-back-outline" routerLink="/setting"></ion-icon>
      <ion-button routerLink="/setting">Settings</ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center">Profile</ion-title>

    <ion-buttons slot="end">
      <ion-button>Done</ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

  <form [formGroup]="formBuilderGroup">

    <div class="container-image" (click)="selecionarOpcoesImagem()">
      <ion-avatar>
        <ion-img [src]="imagemPerfil?.webPath"></ion-img>
      </ion-avatar>
      <div class="imagem-perfil">
        <ion-icon name="camera-reverse-outline"></ion-icon>
      </div>
    </div>

    <div class="item-profile">
      <ion-text>Firt Name</ion-text>
      <ion-input></ion-input>
    </div>

    <div class="item-profile">
      <ion-text>Last Name</ion-text>
      <ion-input></ion-input>
    </div>

    <div class="item-profile">
      <ion-text>E-mail</ion-text>
      <ion-input></ion-input>
    </div>

    <div class="item-profile">
      <ion-text>Phone</ion-text>
      <ion-input id="phone" name="phone" mask="+55 (**) ***-***-***" maxlength="20" placeholder="+55 (XXX) YYY-YYY-YYY"></ion-input>
    </div>

  </form>

</ion-content>
