@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "./theme/font.scss";

* {
    font-family: Raleway-Regular;
}

ion-header {
    ion-toolbar {
        --background: var(--ion-color-pes);
        --color: var(--ion-color-pes-text-secondary);
        ion-buttons {
            ion-icon {
                color: var(--ion-color-pes-text-icon);
                font-size: 16px;
            }
            ion-button {
                text-transform: initial;
            }
        }
    }
}

ion-content, ion-footer {
    --background: var(--ion-color-pes);
    --color: var(--ion-color-pes-text-secondary);
}

ion-input {
    font-family: Raleway-Medium !important;
}
